body {
     
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-color: #222;
        /*//color: #D5D4D4;*/
}

.button-logout{
    border-radius: 5px;
    background-color:#a550b5;
}

.title{
    font-size: 25px;
    text-align:center;
    font-weight:bold;
    padding-bottom:20px;
}

.header{
    float:right;
}

.username{
    color:white;
}

.wrap{
     width: 70%;
	height: 100%;
	background-color: whitesmoke;
	
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
}

td{
    text-align:center;
}

.center-line{
    transform: translate(30%, 0) }
}